- require 'offsite_payments/action_view_helper'
- ActionView::Base.send(:include, OffsitePayments::ActionViewHelper)

= payment_service_for @payment.id, ENV['WEBMONEY_WALLET_WMZ'],
                        :amount => @payment.amount,
                        :description => "##{@payment.id}",
                        :fail_url => billing_webmoney_fail_url,
                        :success_url => billing_webmoney_success_url,
                        :result_url => billing_webmoney_result_url,
                        :service => :webmoney do |s|
  = submit_tag t('billing.payments.merchant.submit'), class: "btn btn-large btn-primary"
