/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* primary colour */
/* primary colour */
/* primary colour */
/* primary colour */
/* primary colour */
/* primary colour */
/* primary colour */
/*
 * --------------------------------------------------
 * 1. Common Elements
 *--------------------------------------------------
 */
body a {
  color: #be3e1d;
  text-decoration: none;
}
body a:hover {
  color: #923016;
  text-decoration: underline;
}
body .btn.btn-primary,
body .btn.btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ac381a;
  background-image: -moz-linear-gradient(top, #be3e1d, #923016);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#be3e1d), to(#923016));
  background-image: -webkit-linear-gradient(top, #be3e1d, #923016);
  background-image: -o-linear-gradient(top, #be3e1d, #923016);
  background-image: linear-gradient(to bottom, #be3e1d, #923016);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe3e1d', endColorstr='#ff923016', GradientType=0);
  border-color: #923016 #923016 #4f1a0c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #923016;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
body .btn.btn-primary:hover,
body .btn.btn-navbar:hover,
body .btn.btn-primary:active,
body .btn.btn-navbar:active,
body .btn.btn-primary.active,
body .btn.btn-navbar.active,
body .btn.btn-primary.disabled,
body .btn.btn-navbar.disabled,
body .btn.btn-primary[disabled],
body .btn.btn-navbar[disabled] {
  color: #ffffff;
  background-color: #923016;
  *background-color: #7c2813;
}
body .btn.btn-primary:active,
body .btn.btn-navbar:active,
body .btn.btn-primary.active,
body .btn.btn-navbar.active {
  background-color: #66210f \9;
}
body #footer {
  border-top: 2px solid #be3e1d;
  /* primary colour */

}
body #footer #toplink i {
  color: #be3e1d;
  /* primary colour */

}
body #header-hidden-link a.show-hide,
body .flexslider-wrapper .flex-control-nav li a.flex-active,
body .static-banner .flex-control-nav li a.flex-active {
  background: #be3e1d;
  /* primary colour */

}
/*
 * --------------------------------------------------
 * 2. Header & Navigation 
 *--------------------------------------------------
 */
body #navigation .header-hidden {
  background: #be3e1d;
  /* primary colour */

}
body #navigation .header {
  border-top-color: #be3e1d;
  /* primary colour */

}
body #navigation .brand {
  color: #be3e1d;
  /* primary colour */

}
body #navigation .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ac381a;
  background-image: -moz-linear-gradient(top, #be3e1d, #923016);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#be3e1d), to(#923016));
  background-image: -webkit-linear-gradient(top, #be3e1d, #923016);
  background-image: -o-linear-gradient(top, #be3e1d, #923016);
  background-image: linear-gradient(to bottom, #be3e1d, #923016);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe3e1d', endColorstr='#ff923016', GradientType=0);
  border-color: #923016 #923016 #4f1a0c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #923016;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  /* @see: Button maker: http://charliepark.org/bootstrap_buttons/ */

}
body #navigation .btn-primary:hover,
body #navigation .btn-primary:active,
body #navigation .btn-primary.active,
body #navigation .btn-primary.disabled,
body #navigation .btn-primary[disabled] {
  color: #ffffff;
  background-color: #923016;
  *background-color: #7c2813;
}
body #navigation .btn-primary:active,
body #navigation .btn-primary.active {
  background-color: #66210f \9;
}
body #navigation .navbar-inner {
  border-bottom-color: #be3e1d;
  /* primary colour */

}
body #navigation .navbar-inverse .navbar-inner {
  background-color: rgba(190, 62, 29, 0.22);
  background-image: -moz-linear-gradient(top, rgba(190, 62, 29, 0.3), rgba(190, 62, 29, 0.1));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(190, 62, 29, 0.3)), to(rgba(190, 62, 29, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(190, 62, 29, 0.3), rgba(190, 62, 29, 0.1));
  background-image: -o-linear-gradient(top, rgba(190, 62, 29, 0.3), rgba(190, 62, 29, 0.1));
  background-image: linear-gradient(to bottom, rgba(190, 62, 29, 0.3), rgba(190, 62, 29, 0.1));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dbe3e1d', endColorstr='#1abe3e1d', GradientType=0);
  /* @see: Gradient maker: http://www.colorzilla.com/gradient-editor/ */

}
body #navigation .navbar .nav .divider-vertical {
  border-left-color: #7c2813;
  border-right-color: rgba(255, 255, 255, 0.15);
}
body #navigation .navbar .nav#main-menu li {
  border-left-color: #7c2813;
  border-right-color: rgba(255, 255, 255, 0.15);
}
body #navigation .navbar .nav#main-menu li.home-link a {
  color: #be3e1d;
  /* primary colour */

}
body #navigation .navbar .nav#main-menu .dropdown-menu {
  border-bottom-color: #be3e1d;
  /* primary colour */

}
body #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:hover {
  border-bottom-color: #be3e1d;
  /* primary colour */

}
body #navigation .navbar .nav > li > a:focus,
body #navigation .navbar .nav > li > a:hover {
  color: #ffffff;
}
body #navigation .navbar .nav > .active > a,
body #navigation .navbar .nav > .active > a:hover,
body #navigation .navbar .nav > .active > a:focus {
  color: #ffffff;
}
body #navigation .navbar .nav > li > .btn,
body #navigation .navbar .nav > li > .btn-navbar {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
body #navigation .navbar .nav > li > .btn:hover,
body #navigation .navbar .nav > li > .btn-navbar:hover,
body #navigation .navbar .nav > li > .btn:active,
body #navigation .navbar .nav > li > .btn-navbar:active,
body #navigation .navbar .nav > li > .btn.active,
body #navigation .navbar .nav > li > .btn-navbar.active,
body #navigation .navbar .nav > li > .btn.disabled,
body #navigation .navbar .nav > li > .btn-navbar.disabled,
body #navigation .navbar .nav > li > .btn[disabled],
body #navigation .navbar .nav > li > .btn-navbar[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
body #navigation .navbar .nav > li > .btn:active,
body #navigation .navbar .nav > li > .btn-navbar:active,
body #navigation .navbar .nav > li > .btn.active,
body #navigation .navbar .nav > li > .btn-navbar.active {
  background-color: #cccccc \9;
}
body #navigation .navbar .nav > li > .btn.btn-primary,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary,
body #navigation .navbar .nav > li > .btn.btn-navbar,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar,
body #navigation .navbar .nav > li > .btn:focus,
body #navigation .navbar .nav > li > .btn-navbar:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ac381a;
  background-image: -moz-linear-gradient(top, #be3e1d, #923016);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#be3e1d), to(#923016));
  background-image: -webkit-linear-gradient(top, #be3e1d, #923016);
  background-image: -o-linear-gradient(top, #be3e1d, #923016);
  background-image: linear-gradient(to bottom, #be3e1d, #923016);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe3e1d', endColorstr='#ff923016', GradientType=0);
  border-color: #923016 #923016 #4f1a0c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #923016;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
body #navigation .navbar .nav > li > .btn.btn-primary:hover,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary:hover,
body #navigation .navbar .nav > li > .btn.btn-navbar:hover,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar:hover,
body #navigation .navbar .nav > li > .btn:focus:hover,
body #navigation .navbar .nav > li > .btn-navbar:focus:hover,
body #navigation .navbar .nav > li > .btn.btn-primary:active,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary:active,
body #navigation .navbar .nav > li > .btn.btn-navbar:active,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar:active,
body #navigation .navbar .nav > li > .btn:focus:active,
body #navigation .navbar .nav > li > .btn-navbar:focus:active,
body #navigation .navbar .nav > li > .btn.btn-primary.active,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary.active,
body #navigation .navbar .nav > li > .btn.btn-navbar.active,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar.active,
body #navigation .navbar .nav > li > .btn:focus.active,
body #navigation .navbar .nav > li > .btn-navbar:focus.active,
body #navigation .navbar .nav > li > .btn.btn-primary.disabled,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary.disabled,
body #navigation .navbar .nav > li > .btn.btn-navbar.disabled,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar.disabled,
body #navigation .navbar .nav > li > .btn:focus.disabled,
body #navigation .navbar .nav > li > .btn-navbar:focus.disabled,
body #navigation .navbar .nav > li > .btn.btn-primary[disabled],
body #navigation .navbar .nav > li > .btn-navbar.btn-primary[disabled],
body #navigation .navbar .nav > li > .btn.btn-navbar[disabled],
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar[disabled],
body #navigation .navbar .nav > li > .btn:focus[disabled],
body #navigation .navbar .nav > li > .btn-navbar:focus[disabled] {
  color: #ffffff;
  background-color: #923016;
  *background-color: #7c2813;
}
body #navigation .navbar .nav > li > .btn.btn-primary:active,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary:active,
body #navigation .navbar .nav > li > .btn.btn-navbar:active,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar:active,
body #navigation .navbar .nav > li > .btn:focus:active,
body #navigation .navbar .nav > li > .btn-navbar:focus:active,
body #navigation .navbar .nav > li > .btn.btn-primary.active,
body #navigation .navbar .nav > li > .btn-navbar.btn-primary.active,
body #navigation .navbar .nav > li > .btn.btn-navbar.active,
body #navigation .navbar .nav > li > .btn-navbar.btn-navbar.active,
body #navigation .navbar .nav > li > .btn:focus.active,
body #navigation .navbar .nav > li > .btn-navbar:focus.active {
  background-color: #66210f \9;
}
body #navigation .navbar .nav > li > .dropdown-menu:before {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
body #navigation .navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid #ffffff;
}
body #navigation .navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  border-top-color: rgba(0, 0, 0, 0.2);
}
body #navigation .navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  border-top: 6px solid #ffffff;
}
body #navigation .navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #navigation .navbar .nav li.dropdown.open > .dropdown-toggle,
body #navigation .navbar .nav li.dropdown.active > .dropdown-toggle,
body #navigation .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
}
body #navigation .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.8);
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
body #navigation .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
body #navigation .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
body #navigation .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #navigation .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
body #navigation .dropdown-menu li > a {
  color: #242424;
}
body #navigation .dropdown-menu li > a:hover,
body #navigation .dropdown-menu li > a:focus,
body #navigation .dropdown-submenu:hover > a {
  color: #ffffff;
  background-color: rgba(31, 31, 31, 0.8);
  background-image: -moz-linear-gradient(top, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(36, 36, 36, 0.8)), to(rgba(23, 23, 23, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-image: -o-linear-gradient(top, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc242424', endColorstr='#cc171717', GradientType=0);
  /* @see: Gradient maker: http://www.colorzilla.com/gradient-editor/ */

}
body #navigation .dropdown-menu .active > a,
body #navigation .dropdown-menu .active > a:hover {
  color: #242424;
  background-color: rgba(31, 31, 31, 0.8);
  background-image: -moz-linear-gradient(top, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(36, 36, 36, 0.8)), to(rgba(23, 23, 23, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-image: -o-linear-gradient(top, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.8), rgba(23, 23, 23, 0.8));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc242424', endColorstr='#cc171717', GradientType=0);
  /* @see: Gradient maker: http://www.colorzilla.com/gradient-editor/ */

}
/*
 * --------------------------------------------------
 * 3. Content Area
 *-------------------------------------------------- 
 */
body .pricing-stack .well .price {
  color: #be3e1d;
  /* primary colour */

}
body .pricing-stack .well.active {
  border-color: #be3e1d;
  /* primary colour */

}
body .pricing-stack .well.active .price {
  background: #be3e1d;
  /* primary colour */

  border-color: #be3e1d;
}
body .tabbable > ul.nav-tabs li.active a,
body ul.nav-tabs li.active a,
body .tabbable > ul.nav-tabs li.active a:hover,
body ul.nav-tabs li.active a:hover {
  color: #be3e1d;
  border-top-color: #be3e1d;
  /* primary colour */

}
body .section-menu ul.nav-list li.active > a,
body .section-menu ul.nav-list li.active > a:hover {
  color: #be3e1d;
  border-left-color: #be3e1d;
  /* primary colour */

}
body .stats .stat .well {
  background-color: #923016;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#be3e1d), to(#923016));
  background-image: -webkit-radial-gradient(circle, #be3e1d, #923016);
  background-image: -moz-radial-gradient(circle, #be3e1d, #923016);
  background-image: -o-radial-gradient(circle, #be3e1d, #923016);
  background-repeat: no-repeat;
}
body .stats .stat .well:after {
  border-top-color: #be3e1d;
  /* primary colour */

}
body .date-wrapper span.date-m {
  background: #be3e1d;
  /* primary colour */

}
body .tags .tag {
  color: #be3e1d;
  /* primary colour */

}
/*
 * --------------------------------------------------
 * 3. Misc
 * Other stuff
 *--------------------------------------------------
 */body .icon-inverse,
li .icon-inverse {
  background: #be3e1d;
  /* primary colour */

}
body .icon-inverse-50,
li .icon-inverse-50 {
  background: rgba(190, 62, 29, 0.5);
}
body .primary-colour {
  color: #be3e1d;
  /* primary colour */

}
body .primary-colour-bg {
  background: #be3e1d;
  /* primary colour */

}
body .primary-colour-bg-50 {
  background: rgba(190, 62, 29, 0.5);
}
body .spacer {
  color: #be3e1d;
  /* primary colour */

}
body .spacer.dark {
  color: #923016;
}
body .social-media a:hover {
  background: #be3e1d;
  /* primary colour */

}
body a .de-em {
  color: rgba(190, 62, 29, 0.8);
}
