development:
  adapter: postgresql
  encoding: unicode
  database: smartvpn_development
  pool: 5
  username: postgres
  host: localhost
  min_messages: WARNING

test:
  adapter: postgresql
  encoding: unicode
  database: smartvpn_test
  pool: 5
  username: postgres
  host: localhost
  min_messages: WARNING

production:
  adapter: postgresql
  encoding: unicode
  database: smartvpn_production
  username: postgres
  password: root
  host: postgres
