default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch('PGHOST') { 'localhost ' } %>
  user: <%= ENV.fetch('PGUSER') { 'postgres' } %>
  password: <%= ENV.fetch('PGPASS') { 'root' } %>
  timeout: 5000

development:
  <<: *default
  database: <%= ENV.fetch('PGDATABASE') { 'smartvpn_development' } %>

test:
  <<: *default
  database: <%= ENV.fetch('PGDATABASE') { 'smartvpn_test' } %>

production:
  adapter: postgresql
  encoding: unicode
  database: smartvpn_production
  username: postgres
  password: root
  host: postgres


