ul.list-unstyled
  li= link_to t('admin.links.by_users'), users_admin_traffic_reports_path
  li= link_to t('admin.links.by_date'), date_admin_traffic_reports_path
  li= link_to t('admin.links.by_servers'), servers_admin_traffic_reports_path
