= page_title('Все пользователи', 'user')

.jarviswidget.jarviswidget-color-blue.jarviswidget-sortable
  = link_to "Список email", emails_export_admin_users_path(q: params[:q]), target: '_blank', class: 'btn btn-primary'

= render partial: "filter"
= render partial: "table"
